In [ ]:
#Additive Inverse
n=int(input())
for i in range(n):
    sum=0
    l=input.split()
    for j in l:
        s+=(int(j)*-1)
    print(s)

In [ ]:
## Pandigital
n=int(input())
for i in range(n):
    num = input()
    num = set(num)
    if len(num)==10:
        print(True)
    else:
        print(False)

In [ ]:
#Alphabet Encryption
n = int(input())
for i in range(n):
    s = input()
    line = " "
    for i in s:
        if ord(j) < ord('z') and ord(j) >= ord('a')) or (ord(j)<ord('Z') and ord(j)>=ord('A')):
            line +=chr(ord(j)+1)
        else:
            line +=j
    print(line)

In [1]:
#Sets
l = [1,2,1,2,1,2,2344455,1,22,33,333]
l = set(l)
l

{1, 2, 22, 33, 333, 2344455}

In [2]:
l

{1, 2, 22, 33, 333, 2344455}

In [3]:
l.clear()

In [4]:
l = {1,2,3,4,5,5,67,5,4,3,2,89}
m = {20,30,40,50,68,60,46,50,40,60}
print(m.difference(l))

{68, 40, 46, 50, 20, 60, 30}

In [5]:
l.intersection(m)

set()

In [8]:
l.discard(5)
l

{1, 2, 3, 4, 67, 89}

In [9]:
l.union(m)

{1, 2, 3, 4, 20, 30, 40, 46, 50, 60, 67, 68, 89}

In [11]:
l.add(50)
l

{1, 2, 3, 4, 50, 67, 89}

In [12]:
a = {'Zebra','Wool','Apple','Biscuit'}
a

{'Apple', 'Biscuit', 'Wool', 'Zebra'}

In [13]:
l = {1,2,3,4}
m = {1,2,20,30}
l.intersection_update(m)
l

{1, 2}

In [15]:
l = {1,2,3,4}
m = {4,5,6}
l.isdisjoint(m)

False

In [16]:
l.pop(4)
l

TypeError: pop() takes no arguments (1 given)

In [17]:
l.remove(5)
l

KeyError: 5

In [18]:
#regex101
^[1-9][0-9]{1,}[0]$===>1000000000000000000000000000000000000000000
^[1-9][0-9]{1,}[05]$|^[5]$|^[1-9][05]$==>15,105

SyntaxError: invalid syntax (<ipython-input-18-907915fd102f>, line 2)

In [22]:
import re
pattern = '^(0123456789)$'
n = input()
n = sorted(set(n))
n = "".join(n)
if re.match(pattern,n):
    print("Congrats")
else:
    print("TryAgain")
print(n)

1236786775489468136498234
TryAgain
123456789

In [23]:
n = input()
n = set(n)
if(len(n)==10):
    print("Congrats")
else:
    print("TryAgain")

15432564613254346385
TryAgain

In [25]:
string="python Krishna"
print(string.upper())

PYTHON KRISHNA

In [30]:
#JsonData
import json
filepath='krishna/json.txt'
with open(filepath,'r') as f:
    data=json.load(f)
    for rows in data['todos']:
        print(rows['id'])

1
2
3
4
5
6
7
8
9
10

In [31]:
data = ''' {
	      "userId": 1,
	      "id": 2,
	      "title": "quis ut nam facilis et officia qui",
	      "completed": false
      }'''
info =json.loads(data)
print(info)

{'userId': 1, 'id': 2, 'title': 'quis ut nam facilis et officia qui', 'completed': False}

In [35]:
data = {
  "todos":[
      {
	      "userId": 1,
	      "id": 1,
	      "title": "delectus aut autem",
	      "completed": False
      }
  ]
}
json_string =json.dumps(data)
print(json_string)

{"todos": [{"userId": 1, "id": 1, "title": "delectus aut autem", "completed": false}]}

In [43]:
data = {
  "krishna":[
      {
	      "userId": 1,
	      "id": 1,
	      "title": "delectus aut autem",
	      "completed": False
      }
  ]
}

with open(filepath,'w') as f:
    json.dump(data,f,indent=4)

In [ ]:
m = int(input())
for i in range(m):
    n = int(input())
    s=1
    for j in range(2,n+1):
        s+=(j-1)*5
    print(s)

In [ ]:
import json
filepath='krishna/json.txt'
with open(filepath,'r') as f:
    data=json.load(f)
    for rows in data['todos']:
        print(rows['id'])