### Day Objectives:
        # Combinations
        #Set- Data Structure
        # Set Operations
        # UseCases
### Functional Programming
       #  List Comprehensions
       
       #Iterators
       # Generators
       # Maps
       #Lambda
       # Builtin Functions
       # Use cases

In [13]:
a={1,2,3,4,5,6}
b={7,8,9,"AkashSir"}
a.update(b)# adding multiple elements to a set
a.add(7)# adding single element to a set
li = [10,11,12]
a.update(li)
for i in a:
    print(i,end = " ")

1 2 3 4 5 6 AkashSir 8 9 7 10 11 12

In [ ]:
## Remove elements
a.discard(12)
a

In [15]:
a = {10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
a.union(b)
# A U B = B U A
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
a = {10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,123}
a.intersection(b)

{1, 2, 3}

In [27]:
a.isdisjoint(b)
a.isdisjoint(c)

True

In [22]:
a-b # All elements of a which are not in b

{4, 5, 6, 10}

In [23]:
b - a # All elements of b which are not in a

{7, 8, 9}

In [24]:
sorted(a)

[1, 2, 3, 4, 5, 6, 10]

In [28]:
a^b # Element either in a or in b

{4, 5, 6, 7, 8, 9, 10}

In [29]:
d = set()# Create a Empty Set
d

set()

In [30]:
li = [1,2,3,4,2,1,2,3,4]
u = set(li)
u

{1, 2, 3, 4}

In [ ]:
### Function Programming Longuages
   # Object Oriented : Java
  # Procedural : C
  # Scripting : PHP,Python,JavaScript,Shell,Pearl
  # Functional : Python,Haskell,Scala
  # Logic : Prolog,Lisp

### Medium Test Problem
### N consist of n Numbers

In [17]:
# Function to print all combinations of  pairs of integers in a unique list
#list [1,2,3]->(1,2)(1,3)(2,3)->3c2 means 3!/((3-2)!*2!)
#[1,2,3,4]->(1,2)(1,3)(1,4)(2,3)(2,4)(3,4)
#_>123,124
def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
combinations([1,2,3,4,5,6])

1 2 3
1 2 4
1 2 5
1 2 6
1 3 4
1 3 5
1 3 6
1 4 5
1 4 6
1 5 6
2 3 4
2 3 5
2 3 6
2 4 5
2 4 6
2 5 6
3 4 5
3 4 6
3 5 6
4 5 6

In [7]:
#Klargest Difference Pairs
# Function to identify differences of all pairs of number and add those differences
#to the same list
# function returns the  updated list and original list
#abs is change the negative to possitive 
# [1,2,3] ->[1,2,3]

            
        
def kLargestDifferencePairs(li):
    cli = li[:]
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j]) 
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li = [1,4]

kLargestDifferencePairs(li)

[[1, 4], [1, 4, 3]]

In [8]:
#Medium value
def medium(li,k):
    #li3 = []
    
    while(True):
        li3 = kLargestDifferencePairs(li)
        if li3[0] == li3[1]:
            break
        
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1
medium([1,9],2)

8

In [ ]:
#[4,8]
#[20,40,60]
#[4,8,12,16]===>These are constant array
#Convert the list into an Arthemetic progression
[3,8,15]

[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]
def medium(li,k):
    #li3 = []
    
    while(True):
        li3 = kLargestDifferencePairs(li)
        if li3[0] == li3[1]:
            break
        
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1
medium([1,9],2)

for i in range

# List Comprehensions

In [31]:
# List of N natual numbers in a list
n=10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
li = [ i for i in range (1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
#  Apply list comprehension to store the cubes on n natural numbers
li = [i**3  for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [37]:
li = [i**2 for i in range(1,11)]
li

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Function to calculate the factorial
def factorial(n):
    if n ==0 or n ==1:
        return 1
    return n* factorial(n-1)
factorial(5)

In [39]:
### Apply list comprehension to calculate factorial of n natural numbers
n=5
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120]

In [42]:
# Store cumulative  sum of numbers to  n=3,[1,3,6]
# n = 5 -> [1,3,6,,10,15]
n=6
cumulativeSum = [sum(range(1,i+1)) for i in range(1,n+1)]
cumulativeSum

[1, 3, 6, 10, 15, 21]

In [45]:
# List Comprehension to store only leap years in a given time period
st = 1970
et = 2019
# Output:leapYears = [1972,1976,1980.....2016]
leapYears = [ i for i in range(st,et+1) if i%400 ==0 or (i%100!=0 and i%4==0)]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [65]:
li = [1,2,3,2,1,4,4,5,5,5]
li.sort()
unique2=[]
unique =[]
#unique = [ li[i] for i in range(0,len(li)-1) if sorted(li)[i]!=sorted(li)[i+1] and i<len(li)-1)or i==len(li)-1]
#unique = [unique2.append(i)for i in li if i not in unique2]
[unique2.append(i) for i in li if i not in unique2]
unique2

[1, 2, 3, 4, 5]

In [62]:
sorted(li)

[1, 1, 2, 2, 3, 4, 4, 5, 5, 5, 6]

In [55]:
li = [1,2,3,2,1]
unique = []
unique = [i for i in unique if i in not unique]
unique

SyntaxError: invalid syntax (<ipython-input-55-f53761b03b32>, line 3)

### Iterators
   #### Iterable
      --Strings
      --Tuples
      --Sets
      -- Lists
      --Dictionaries
    --To convert iterable to iterator-->iter()
    For Loop: can be stopped during a certain condition but a iterator can stop at any point if execution
    Iterator:

In [69]:
it = iter('Python')#  It is iterable value it converting into  iterator
next(it)

'P'

In [71]:
it = iter('Python')
next(it)
next(it)

'y'

In [73]:
it = iter('Python')
print('1: ')
print(next(it))
print('\n')
print('2: ')
print(next(it))

1:
P


2:
y

### Generators
Generators is Function

In [80]:
def generator():
    n = 2
    yield n
    n = n**3
    yield n
    n = n**3
    yield n
a = generator()
next(a)
next(a)
next(a)

512

In [84]:
def generator():
    n = 2
    for i in range(1,5):
        yield n
        n**=3
        yield n
    
a = generator()
next(a)
next(a)

8

In [85]:
def generator():
    n = 2
    for i in range(1,5):
        yield n
        n**=3
        yield n
    
a = generator()
next(a)
b = next (a) ** 2
b *=next(a)
b

512

In [86]:
def generator():
    n = 2
    for i in range(1,5):
        yield n
        n**=3
        yield n
    
a = generator()
for i in range(5):
    print(next(a))

2
8
8
512
512

In [89]:
def generator():
    n = 2
    while True:
        
        n**=3
        yield n
    
a = generator()
for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208