### Python Library of DataAnalysis
- Series Object 
- Data Frame Object

In [3]:
# Function to read CSV data in to a DataFrame
# Returns the DataFrame object
filepath = 'krishna\Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [4]:
incomedf = readCSVdata(filepath)
#Function  to print all column names in a single line
# GEOID state 2005,2006,2007,2008,2009,2010,2011,2012,2013
def printDataFrameColumns(df):
    columns = df.columns
    for column in columns:
        print(column,end=' ')
    return
printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [5]:
# Function to access a row based on a unique column value
def accessDataFrameRow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessDataFrameRow(incomedf,"Alaska")

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [7]:
# Function to access a row based on a unique column value
def accessDataFrameRow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessDataFrameRow(incomedf,"04000US06")

04000US06 California 51755 55319 55734 57014 56134 54283 53367 57020 57528

In [8]:
incomedf.values[2][4] = 62993

In [9]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [17]:
 #Aceesing a unique value based on row,column
# Income of state in a given year

def valueFromRowColumn(df,rowkey,columnkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    for i in range(len(df.columns)):
        if df.columns[i]== columnkey:
            columnindex = i
    return df.values[rowindex][columnindex]
valueFromRowColumn(incomedf,'California','2009')

56134

In [16]:
incomedf.index

RangeIndex(start=0, stop=5, step=1)

In [23]:
# Function to update data based on rowkey and column key
def updateDataFromRowColumn(df,rowkey,columnkey,newdata):
    rowindex = getRowIndex(df,rowkey)
    columnindex = getColumnIndex(df,columnkey)
    row = df.values[rowindex]
    row[columnindex] = newdata
    df.loc[rowindex] = row
    return
updateDataFromRowColumn(incomedf,'Arizona','2007','62993')
incomedf

NameError: name 'getRowIndex' is not defined

In [19]:
incomedf.loc[2,4] = '62993'
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,4
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381,NaN
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137,NaN
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602,62993
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919,NaN
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528,NaN

In [24]:
accessDataFrameRow(incomedf,62993)

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137 nan

In [25]:
# Function to write DataFrame to CSV
incomedf.to_csv(filepath,index=False)

In [26]:
# Function to add a new row of data to Dataframe
def addRowDataDataFrame(df,rowdata):
    lastrowindex = len(df.values)
    df.loc[lastrowindex+1] = rowdata
    return
rowdata=[]
addRowDataDataFrame(incomedf,rowdata)
incomedf

ValueError: cannot set a row with mismatched columns

In [29]:
# Function to delete a row in a DataFrame
def deleteRowDataFrame(df,rowkey):
    rowindex = getRowIndex(df,rowkey)
    return df.drop([rowindex],axis=0)
    
incomedf = deleteRowDataFrame(incomedf,1)
incomedf

NameError: name 'getRowIndex' is not defined